<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Daftar Sensor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <ion-list-header>
      <ion-label>Daftar sensor/telemetry</ion-label>
      <ion-button>See All</ion-button>
    </ion-list-header>
  
    <ion-item >
      <ion-label>Konektor :</ion-label>
      
      <ion-select 
      *ngFor="let item of deviceList"
      multiple="false" 
      placeholder="Pilih Device"
      [(ngModel)]="selectedDev"
      (ngModelChange)="onChange($event)">
        <ion-select-option value="{{item.id}}">{{item.Nama}}</ion-select-option>
        
      </ion-select>
      
    </ion-item>

  </ion-list>
  <ion-list  >
    <ion-list-header *ngIf="displayedDev">
      <ion-label>Daftar Sensor </ion-label>
      
      
    </ion-list-header>
    <ion-row *ngFor="let i of displayedDev" >
      <ion-col size="12">
      <ion-card>
        <ion-card-header>
          
          <ion-card-title>{{i.Nama}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{i.Keterangan}}
        </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-list>


</ion-content>
