<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Telemetry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>Tampilkan data telemetry pada sensor:</ion-label>
      
    </ion-list-header>

    <ion-list>
      <ion-item>
        <ion-label>Pilih Tanggal</ion-label>
        <ion-datetime 
        placeholder="Select Date" 
        [(ngModel)]="selectedDate"
        (ngModelChange)="onChangeDate($event)"
        displayFormat="DD-MMM-YYYY"> </ion-datetime>
      </ion-item>
      <ion-item>

        <ion-label>Pilih Perangkat :</ion-label>
        <ion-select value="peperoni" 
        multiple="false" 
        *ngFor="let item of deviceList"
        placeholder="Pilih Perangkat"
        [(ngModel)]="selectedDev"
        (ngModelChange)="onChange($event)">
            <ion-select-option value="{{item.id}}">{{item.Nama}}</ion-select-option>
            
        </ion-select>
        
      </ion-item>
      <ion-item >
        <ion-label >Pilih Sensor :</ion-label>
        <ion-select value="device" multiple="false" 
        [(ngModel)]="selectedSensor"
        (ngModelChange) = "onChangeSensor($event)"
        placeholder="Pilih Sensor"
        >
        <ion-select-option *ngFor="let d of sensorList"
         value="{{d.id}}">{{d.Nama}}</ion-select-option>
          
      </ion-select>
      </ion-item>
    </ion-list>



  </ion-list>

{{chartOPtions |json}}
  
  <highcharts-chart *ngIf="selectedSensor"
  [Highcharts]="Highcharts"
  [options]="chartOptions"
  style="width: 100%; height: 400px; display: block;"
></highcharts-chart>

</ion-content>
